# Miscellaneous
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart
*.freezed.dart

# Android
.android/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
local.properties
*.iml
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# iOS
.ios/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
*.app.dSYM
*.app
Pods/
.build/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace

# Other
*.pyc
*_sync/
Icon?
.tags*
.sconsign.dblite
.vagrant/
